In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = {'subject': ['Pierre','Anne','Joyce','Peter','Alan','Camille'], 'age': [20, 16, 19, 99, 23, 18], 'sex': ['M','F','F','M', np.nan, 'F'], 'height': [172, 181, 165, 168, 177, 178], 'speed': [11.20, 3.00, 11.50, 10.35, 10.98, 13.05]}

df = pd.DataFrame(data, columns = ['subject','age','sex','height','speed'])

In [3]:
df

   subject  age  sex  height  speed
0   Pierre   20    M     172  11.20
1     Anne   16    F     181   3.00
2    Joyce   19    F     165  11.50
3    Peter   99    M     168  10.35
4     Alan   23  NaN     177  10.98
5  Camille   18    F     178  13.05